$v-background-color: #333333;
$v-panel-background-color: #333333;

$v-textfield-background-color: #252526;
$v-textfield-background-color--readonly: #333333;

$v-line-height: 1.35;                /* line height */
$v-font-size: 12px;                  /* font size */
$v-font-weight: 400;                 /* font weight */
$v-unit-size: 25px;                  /* base theme size, defines the height for buttons, fields and other elements */
$v-font-size--h1: 22px;
$v-font-size--h2: 18px;
$v-font-size--h3: 16px;

$v-border: 1px solid #1E1E1E;

$v-layout-margin-top: 6px;
$v-layout-margin-right: 6px;
$v-layout-margin-bottom: 6px;

$v-layout-margin-left: 6px;
$v-focus-color: #679ED2;

$v-link-text-decoration: none;
$v-panel-border: 0 solid transparent;
$v-notification-title-color: #252526;

$v-table-row-height: 25px;
$v-table-header-font-size: 13px;
$v-table-cell-padding-horizontal: 5px;

$cuba-scrollbars-style-enabled: true;

$v-support-inverse-menu: true;
